::-webkit-scrollbar {
    display: none;
}


html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Secret .ErrorBG{
	background-color: #170900;
	display: flex;
	padding: 0%;
	height: 100vh;
	font-family: "Zeyada", cursive;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	flex-direction: row;
}
.Secret h1{
	display: inline;
	font-size: 124px;
	margin: 3%;
	color:#352200;
	transition-duration: 1500ms;
	transition-timing-function: linear;
	cursor: pointer;
	font-weight: bolder;
}
.Secret .ErrorMSGBox:hover h1{
	color: #dade00;
	text-shadow: 0 0 10px #ffa200, 0 0 20px #ffa200, 0 0 30px #ffa200, 0 0 40px #ffa200;
}

